.center {
  background: repeating-linear-gradient(
    to right,
  #FFD966,
  #FFD966 3vw,
  #F9B900 3vw,
  #F9B900 6vw
  );

  height: 100%;
  overflow-y: auto;
  text-align: center;
}

.center span {
  opacity: 1;
  color: white;
}

.center div {
  width: 100%;
}

/* Hides scrollbar for chrome/safari/opera/edge */
.center::-webkit-scrollbar {
  display: none;
}

.top-text {
  position: relative;
  margin-top: 30px;
  opacity: 0.55;
  z-index: 1;
}

.watts-text-box {
  background-color: black;
  line-height: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.members-text-box {
  position: absolute;
  bottom: 50px;
  left: 0px;
  background-color: black;
  opacity: 0.55;
  line-height: 3vh;
  padding-top: 1.5vh;
  padding-bottom: 2vh;
}

.coop-name {
  font-size: 3.5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;

  display: inline-block;
  border-radius: 4vh;
  background-color: black;
  color: white;
  line-height: 4vh;
  margin-bottom: 1vh;
  opacity: 0.9;
}

.coop-name:hover {
  opacity: 1;
}

.num-watts {
  font-size: 4.2vh;
}

.num-wps {
  font-size: 2.8vh;
}

.num-members {
  font-size: 3.2vh;
}

/* Style of bolt button */
.bolt button {
  position: absolute;

  top: 25%;
  left: 10%;
  right: 10%;
  background: none;
  border-radius: 80%;
  border-width: 0;
}

.bolt img {
  width: 100%;
  border-radius: 100%;
}

.bolt img:hover {
  opacity: 0.85;
  transform: scale(1.05);
}