.events {
  background: #ffd24b;
  color: #FFFFFF;
  height: 50vh;
  overflow-y: auto;
}

/* Hides scrollbar for chrome/safari/opera/edge */
.events::-webkit-scrollbar {
  display: none;
}

.date {
  margin-top: 4px;
  font-size: 28px;
  color: #645424;
}
