.events {
  background: #ffd24b;
  color: #FFFFFF;
  height: 50vh;
  overflow-y: auto;
}

/* Hides scrollbar for chrome/safari/opera/edge */
.events::-webkit-scrollbar {
  display: none;
}

.date {
  font-size: 24px;
  color: #645424;
}

.scene {
  margin-top: 5px;
  margin-bottom: 5px;
}

.advent {
  width: 319px;
  height: 64px;
  cursor: pointer;
  background: url(../../img/generator_background.png);
  position: relative;
  border: none;
  text-align: left;
}

.advent-icon {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;

  filter: drop-shadow(0px 1px 1px #000);
  -webkit-filter: drop-shadow(0px 1px 1px #000);
  display: inline-block;
}

.advent-icon img {
  background-position: 0px -64px;
}

.advent-content {
  display: block;
  position: absolute;
  left: 68px;
  top: 2px;
  right: 0px;
  bottom: 6px;
  padding: 4px;
  color: #FFF;
  text-shadow: 0px 1px 4px #000;
}

.advent-name {
  font-size: 28px;
  margin-top: 3px;
}

.advent-description {
  color:#FC0;
  font-size: 16px;
  position: absolute;
}