.generators {
  background: rgb(216, 112, 15);
  color: #FFFFE0;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  height: 96vh;
  width: 100%;
  overflow-y: auto;
}
  
/* Hides scrollbar for chrome/safari/opera/edge */
.generators::-webkit-scrollbar {
  display: none;
}

.generators-header {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 36px;
  text-shadow: 1px 1px 1px rgba(57, 57, 57, 0.5);
}

.generators-header span {
  vertical-align: top;
  margin-right: 5px;
}

.info-button {
  background: url("../../img/info_symbol.png");
  height: 36px;
  width: 36px;
}

.info-button:hover {
  opacity: 0.85;
}

.generator {
  width: 100%;
  height: 64px;
  cursor: pointer;
  background: url(../../img/Generator_Background_Long.png);
  position: relative;
  border: none;
  text-align: left;
  opacity: 0.85;
  transition-property: opacity, margin-bottom;
  transition-duration: 0.25s, 0.1s;
  transition-timing-function: ease-out, ease-out;
}

.generator:hover {
  opacity: 1;
}

.generator:disabled {
  opacity: 0.6;
}
.generator:disabled:hover {
  opacity: 0.85;
}

.generator-icon {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;

  filter: drop-shadow(0px 1px 1px #000);
  -webkit-filter: drop-shadow(0px 1px 1px #000);
  display: inline-block;
}

.generator-icon img {
  background-position: 0px -64px;
}

.generator-content {
  display: block;
  position: absolute;
  left: 68px;
  top: 2px;
  right: 0px;
  bottom: 6px;
  padding: 4px;
  color: #FFF;
  text-shadow: 0px 1px 4px #000;
}

.generator-title {
  font-size: 28px;
  margin-top: 3px;
}

.generator-cost {
  display: block;
  color:#FC0;
  font-size: 16px;
  padding-left: 18px;
  position: absolute;
}

.generator-cost:before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  background: url(../../img/bolt_money.png);
  width: 16px;
  height: 16px;
}

.generator-count {
  position: absolute;
  top: 8px;
  right: 16px;
  bottom: 5px;
  font-size: 40px;
  opacity: 0.6;
  color: #eb9d9d;
  letter-spacing: -2px;
}

/* ==============
   Tooltip Format
   ============== */

  .generator-tooltip {
  background: url(../../img/Generator_Tooltip_Background_Large.png);
  position: relative;
  color: #FFFFFF;
  width: 412px;
  height: 180px;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 20px;
  font-size: 2vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 1;

  transition-property: opacity, margin-bottom;
  transition-duration: 0.25s, 0.1s;
  transition-timing-function: ease-out, ease-out;
}

.generator-tooltip-two {
  background: url(../../img/Generator_Tooltip_Background_Small.png);
  position: relative;
  color: #FFFFFF;
  width: 412px;
  height: 120px;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 20px;
  font-size: 2vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 1;

  transition-property: opacity, margin-bottom;
  transition-duration: 0.25s, 0.1s;
  transition-timing-function: ease-out, ease-out;
}

.generator-tooltip-top {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.generator-tooltip img {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
}

.generator-tooltip-name {
  position: relative;
  display: inline-block;
  font-size: 28px;
  margin-top: 3px;
  margin-left: 8px;
}

.generator-tooltip-cost {
  position: relative;
  float: right;
  color:#FC0;
  font-size: 20px;
  padding-left: 18px;
}

.generator-tooltip-cost:before {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0px;
  background: url(../../img/bolt_money.png);
  width: 16px;
  height: 16px;
}

.generator-tooltip-description {
  position: relative;
  display: block;
  margin-bottom: 3px;
  margin-left: 2px;
  font-size: 14px;
  color: #c5c5c5;
}

.generator-tooltip-quote {
  position: relative;
  display: block;
  margin-left: 6px;
  font-size: 12px;
  font-style: italic;
  color: #c5c5c5;
}

.generator-production {
  position: absolute;
  left: 20px;
  right: 20px;
  margin-top: 10px;
  bottom: 14px;
  font-size: 14px;
  line-height: 1.1;
  color: #c5c5c5;
}