.structures {
    background: #2b862b;
    color: #FFFFFF;
    text-align: center;
    height: 47vh;
    width: 100%;
}

.structures div {
  display: block;
}

.structures-header {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 36px;
  text-shadow: 1px 1px 1px rgba(57, 57, 57, 0.5);
}

.structures-header span {
  vertical-align: top;
  margin-right: 5px;
}

.info-button {
  background: url("../../img/info_symbol.png");
  height: 36px;
  width: 36px;
}

.info-button:hover {
  opacity: 0.85;
}