.upgrades {
    background: rgb(216, 112, 15);
    color: #FFFFE0;
    height: 50vh;
    overflow-y: auto;
  }
  
  /* Hides scrollbar for chrome/safari/opera/edge */
  .upgrades::-webkit-scrollbar {
    display: none;
  }
  
  .upgrade {
    width: 64px;
    height: 64px;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    border: none;
    background: url("../../img/Upgrade_Background.png");
    color: #FFFFFF;
    font-size: 28px;
    opacity: 0.8;
    transition-property: opacity, margin-bottom;
    transition-duration: 0.25s, 0.1s;
    transition-timing-function: ease-out, ease-out;
  }

  .upgrade:hover {
    opacity: 1;
  }

  .upgrade:disabled {
    opacity: 0.65;
  }
  
  .upgrade img {
    width: 48px;
    height: 48px;
    padding: 6px;
  }
  
  .upgrade-tooltip {
    background: #404040;
    color: #FFFFFF;
    width: 40vw;
    padding: 0.6vw;
    font-size: 2vw;
  }
  
  .upgrade-name {
    float: left;
  }
  .upgrade-cost {
    float: right;
  }
  .upgrade-description {
    display: inline-block;
  }