.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



/*  Settings for whole page */
.hub {
  display: flex;
  height: 100vh;
}



/* Creates general column layour */
.column {
  float: left;
  font-size: 3vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 33.33%;
}

/* Responsive column layout */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*======================
  Upgrade column style
  ====================== */
.upgrades {
  background: rgb(216, 112, 15);
  color: #FFFFE0;
  height: 50vh;
}
  
/*======================
  Event column style
  ====================== */
.events {
  background: #ffd24b;
  color: #FFFFFF;
  height: 50vh;
}

/*=================== 
  Center column style 
  =================== */
.center {
  background: repeating-linear-gradient(
    to right,
  #FFD966,
  #FFD966 30px,
  #F9B900 30px,
  #F9B900 60px
  );
  height: 100%;
}

div.center-text-box {
  background-color: black;
  opacity: 0.4;
  color: white;
}

.center-header {
  font-size: 4vw;
  padding-bottom: 10px;
}

.center-text {
  font-size: 2vw;
}

/* Style of bolt button */
.bolt  {
  margin-left: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.bolt button {
  background: none;
  border-radius: 100%;
  border-width: 0;
}

.bolt img {
  max-width: 80%;
  border-radius: 100%;
}

.bolt img:hover {
  max-width: 80%;
  opacity: 0.85;
}

/*======================
  Generator column style
  ====================== */
.generators {
  background: rgb(216, 112, 15);
  color: #FFFFE0;
  height: 50vh;
}

/*======================
  Transporter column style
  ====================== */
.transporters {
  background: #ffd24b;
  color: #FFFFFF;
  height: 50vh;
}

