.App {
  width: 100vw;
  height: 100vh;
  background: #5f0606;
  overflow: hidden;
}

/* Hides scrollbar for chrome/safari/opera/edge */
.App::-webkit-scrollbar {
  display: none;
}

body {
  user-select: none;
  font-size: 13px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1;
  font-size: 100%;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  vertical-align: top;
}

/*==============
  Menu Bar style
  ============== */
.menuBar {
  position: relative;
  width: 100%;
  height: 4vh;
  background: #000000;
  display: inline-block;
}

.menuBarItem {
  display: inline-block;
  height: 3vh;
  color: #FFFFFF;
  background: #240404;
  border-style: solid;
  border-width: 0.25vh;
  border-color: rgb(120, 63, 63);
  margin: 0.25vh 0 0.25vh 0.25vh;
}

.menuBarItem a {
  color: #EE6227;
}

.menuBarItem button {
  background: none;
  border: none;
  color: #FFFFFF;
}

.hub {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 96vh;

  font-size: 2.25vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hub div {
  line-height: 1;
  display: inline-block;
}

/* Hides scrollbar for chrome/safari/opera/edge */
.hub::-webkit-scrollbar {
  display: none;
}

.left-column {
  position: relative;
  height: 47vh;
  width: 44%;
}

.middle-barrier {
  position: relative;
  background: #5f0606;
  width: 1%;
  height: 100%;
}

.center-column {
  position: relative;
  width: 25%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.right-barrier {
  position: relative;
  background: #5f0606;
  width: 1%;
  height: 100%;
}

.right-column {
  position: relative;
  overflow-x: visible;
  overflow-y: hidden;
  height: 100%;
  width: 29%;
}

.right-center-barrier {
  position: relative;
  background: #5f0606;
  width: 100%;
  height: 2vh;
}

.top-row {
  position: relative;
  display: inline;
  float: left;
  height: 100%;
  width: 100%
}

.events-column {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 59.5%;
  height: 100%;
}

.left-barrier {
  position: relative;
  background: #5f0606;
  width: 2.5%;
  height: 100%;
}

.upgrades-column {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 38%;
  height: 100%;
}

.left-center-barrier {
  position: relative;
  background: #5f0606;
  width: 100%;
  height: 2vh;
}

.structures-column {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 47vh;
}
