.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



/*  Settings for whole page */
.hub {
  display: flex;
  height: 100vh;
}



/* Creates general column layour */
.column {
  float: left;
  font-size: 3vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 33.33%;
}

/* Responsive column layout */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*====================
  Upgrade column style
  ==================== */
.upgrades {
  background: rgb(216, 112, 15);
  color: #FFFFE0;
  height: 50vh;
  overflow-y: auto;
}

.title {
  margin-bottom: 2.5vh;
}

/* Hides scrollbar for chrome/safari/opera/edge */
.upgrades::-webkit-scrollbar {
  display: none;
}

.upgrade {
  width: 6.66vw;
  height: 6.66vw;
  border-width: 0.8vw;

  /*
  background: #FFD966;
  border-color: #F9B900;
  */
  
  background: #707070;
  border-color: #909090;
  

  color: #FFFFFF;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.2vw;
  float: left;
}

.upgrade img {
  width: 4vw;
  height: auto;
}

.upgrade:hover {

  /*
  background: #FFE070;
  border-color: #FFC006;
  */

  
  background: #909090;
  border-color: #909090;
  
}

.upgrade:disabled {
  /*
  background: #EFC050;
  border-color: #E9A900;
  */

  
  background: #505050;
  border-color: #676767;
  
}

.upgrade-tooltip {
  background: #404040;
  color: #FFFFFF;
  width: 40vw;
  padding: 0.6vw;
  font-size: 2vw;
}

.upgrade-name {
  float: left;
}
.upgrade-cost {
  float: right;
}
.upgrade-description {
  display: inline-block;
}


  
/*==================
  Event column style
  ================== */
.events {
  background: #ffd24b;
  color: #FFFFFF;
  height: 50vh;
}

/*=================== 
  Center column style 
  =================== */
.center {
  background: repeating-linear-gradient(
    to right,
  #FFD966,
  #FFD966 3vw,
  #F9B900 3vw,
  #F9B900 6vw
  );
  height: 100vh;
  overflow-y:auto;
}

/* Hides scrollbar for chrome/safari/opera/edge */
.center::-webkit-scrollbar {
  display: none;
}

div.center-text-box {
  background-color: black;
  opacity: 0.4;
  color: white;
}

.center-header {
  font-size: 4vw;
  padding-bottom: 10px;
}

.center-text {
  font-size: 2vw;
}

/* Style of bolt button */
.bolt button {
  margin-left: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;

  background: none;
  border-radius: 100%;
  border-width: 0;
}

.bolt img {
  max-width: 80%;
  border-radius: 100%;
}

.bolt img:hover {
  opacity: 0.85;
}

/*======================
  Generator column style
  ====================== */
.generators {
  background: rgb(216, 112, 15);
  color: #FFFFE0;
  height: 50vh;
  overflow-y: auto;
}

/* Hides scrollbar for chrome/safari/opera/edge */
.generators::-webkit-scrollbar {
  display: none;
}

.generator {
  width: 100%;
  border-width: 0.8vw;
  background: #707070;
  border-color: #909090;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.generator:hover {
  background: #909090;
  border-color: #909090;
}

.generator:disabled {
  background: #505050;
  border-color: #676767;
}

.generator-title-cost {
  float: left;
  text-align: left;
  width: 80%;
}

.generator-title {
  font-size: 3.2vw;
  color: #FFFFFF;
}

.generator-cost {
  font-size: 2.2vw;
  color:#F9B900
}

.generator-count {
  width: 20%;
  float: right;
  font-size: 5vw;
  color: #e2e2e2;
}

/*======================
  Transporter column style
  ====================== */
.transporters {
  background: #ffd24b;
  color: #FFFFFF;
  height: 50vh;
}

